<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>hello{{ name }}</h1>
    {% if is_topper%}
    <p>you are a topper very good</p>

    {% else %}
   
    <h3>you need work hard</h3>
    {% endif %}

    
    <h3>your subject</h3>
    <ul>
        {% for subject in subjects %}
        <li>{{subject}}</li>
        {% endfor %}
    </ul>


</body>
</html>